/**
 * Body CSS
 */

html,
body {
  height: 100%;
}

html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
 * Header CSS
 */

header {
  /*position: fixed;*/
  top: 0;
  right: 0;
  left: 0;
  min-height: 0 !important;
  margin-bottom: 10px;
}

header ul.mui-list--inline {
  margin-bottom: 0;
}

header a {
  color: #fff;
}

header table {
  width: 100%;
}


/**
 * Content CSS
 */

#content-wrapper {
  box-sizing: border-box;
  min-height: 100%;
  margin-bottom: -80px;
  padding-bottom: 80px;
}


/**
 * Footer CSS
 */

footer {
  box-sizing: border-box;
  height: 80px;
  background-color: #eee;
  border-top: 1px solid #e0e0e0;
  padding-top: 15px;
}


/*table {*/
  /*table-layout: fixed;*/
/*}*/




.mui-panel {
  margin: 15px;
}
.mui--text-display1 {
  padding: 15px;
}

.header_table {
  table-layout: fixed;
}

.table_center th, .table_center td {
  text-align: center !important;
}


.source_info_div {
  overflow-x: auto;
}

.hidden_content {
  display: none;
}

a.pointer {
  cursor: pointer !important;
}

.auth_form {
  display: none;
}

.flex_ul {
  display: flex;
}

.flex_ul > li {
  flex-grow: 1;
  text-align: center;
}

.display_none {
  display: none !important;
}

.notitfations_fixed {
  position: fixed;
  background: #66BB6A;
  right: 1%;
  bottom: 3%;
  padding: 1% 2%;
  z-index:2;
  border-radius: 2px;
  display: none;
}

.bold {
  font-weight: 700;
}

.text_green {
  color: #4CAF50;
}
.text_blue {
  color: #03A9F4;
}
.text_red {
  color: #F44336;
}

.mui-container-fluid {
  overflow-x: auto;
}

.close_btn {
  display: none;
  position: relative;
}

.close_btn_i {
  /*display: none;*/
  color: black;
  position: absolute;
  right: 20px;
  top: 20px;
}




/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: #2196F3;
  overflow: hidden;
  /*position: fixed;*/
  top: 0;
  width: 100%;
  z-index: 1;
}


/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

a.navbar_float_right {
  float: right;
}
.right {
  float: right;
}
.block{
  display: block;
}
.textarea {
  resize: vertical;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #90CAF9;
  /*color: black;*/
}

/* Add a green background color to the active link */
.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the navbar on small screens */
.navbar .burger_icon_btn {
  display: none;
}

.navbar .logout_phantom {
  display: none;
}

.help_text_info {
  padding: 0 10px;
  display: inline-block;
  color: black;
  font-size: 12px;
}



.game_description {
  text-align: justify;
  background: #ddd;
  padding: 2em;
  border-radius: 3px;
}

.description_title {
  margin: 0;
  margin-bottom: 0.5em;
}




@media (max-width: 500px) {
   #mui-overlay > div {
    min-width: 20% !important;
    max-width: 80% !important;
  }
}


@media (max-width: 767px) {
  .mui--text-display1, h1 {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .flex_ul {
    flex-direction: column;
  }
  .btn-big-width {
    width: 100%;
    font-size: 1em;
    white-space: normal;
    height: auto;
    line-height: 20px;
    padding: 5px;
  }
  .mui-form {
    overflow-x: auto;
  }

  .mui-panel {
    margin: 10px 0;

  }
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the navbar (.icon) */
@media screen and (max-width: 767px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.burger_icon_btn {
    float: right;
    display: block;
  }
  .navbar_float_right {
    float: none;
  }
  .update_btn {
    width: 100%;
    float: none !important;
  }

}

/* The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon. This class makes the navbar look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 767px) {
  .navbar.responsive a.burger_icon_btn {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar a.logout_phantom_responsive {
    display: none;
  }
}





.radio_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio_container .checkmark {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  height: 25px;
  width: 25px;
  background-color: #9e9e9e;
  border-radius: 50%;

}

/* On mouse-over, add a grey background color */
.radio_container:hover input ~ .checkmark {
  background-color: #ccc;
}
.radio_container:hover input:disabled ~ .checkmark {
  background-color: #9e9e9e;
  cursor: not-allowed;
}


/* When the radio button is checked, add a blue background */
.radio_container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio_container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio_container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}




.checkbox_container {
  display: block;
  position: relative;
  padding-left: 35px;

  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox_container input {

  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkbox_container .checkmark {
  position: absolute;
  top: 0;
  left:50%;
  transform: translateX(-50%);
  height: 25px;
  width: 25px;
  background-color: #9e9e9e;
}

/* On mouse-over, add a grey background color */
.checkbox_container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox_container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox_container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox_container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


